/* style.css */

@media only screen and (max-width: 768px) {
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-ExtraLight.ttf') format('truetype');
  font-family: 'PoppinsReg';
  src: url('Poppins-Regular.ttf') format('truetype');
  font-family: 'PoppinsBond';
  src: url('Poppins-Bold.ttf') format('truetype');
  font-family: 'PoppinsSBond';
  src: url('Poppins-SemiBold.ttf') format('truetype');
}

body {
  font-family: 'PoppinsReg', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #002626;
  padding: 15px;
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Ignorar */

.co ntainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Ignorar */

/* Topo onde estão as opções de inicio e mais aqui abaixo */ 

nav ul li {
  display: inline-block;
  background-color: #002626;
  color: #fcf5c7;
  text-decoration: none;
  padding: 5px 35px;
  border-radius: 10px;
  margin-right: 0,5px;
}

/* Topo onde estão as opções de inicio aqui acima */ 

nav ul li a {
  color: #fcf5c7;
  text-decoration: none;
}

section#banner {
  background-image: url('banner.png');
  background-size: cover;
  background-position: center;
  color: #000000;
  text-align: center;
  padding: 100px 0;
}

section#content {
  padding: 20px;
}

section#content h2 {
  font-family: 'PoppinsBond', sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.restaurant {
  display: inline-block;
  width: 300px;
  margin-right: 300px;
  border-radius: 10px;
}

.restaurant img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}


.restaurant h3 {
  font-size: 20px;
  font-family: 'PoppinsSBond', sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
}

.restaurant p {
  margin-bottom: 10px;
  opacity: 75%;
}

.restaurant a {
  display: inline-block;
  background-color: #ee6c4d;
  color: #fcf5c7;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 32px;
}

footer {
  background-color: #002626;
  color: #fcf5c7;
  text-align: center;
  padding: 5px;
}
